.brand{background-image:url(uploads/image/20170207/1486448062.png);}
.weixin{background-image:url(uploads/image/20170207/1486447429.png);}
.shop{background-image:url(uploads/image/20170207/1486441093.png);}
.app{background-image:url(uploads/image/20170207/1486440129.png);}
