<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <description>Smart</description>
  <display-name>Smart</display-name>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>liangziRoot</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.smart.core.init.PreServerInitListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.smart.core.init.PostServerInitListener</listener-class>
  </listener>
  <filter>
    <filter-name>xssFilter</filter-name>
    <filter-class>com.smart.web.filter.XssFilter</filter-class>
  </filter>
  <filter>
    <filter-name>autoLoginFilter</filter-name>
    <filter-class>com.smart.web.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter>
    <filter-name>deviceFilter</filter-name>
    <filter-class>com.smart.web.filter.DeviceFilter</filter-class>
  </filter>
  
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>localizationFilter</filter-name>
    <filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>localizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>autoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>deviceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>staticResourceFilter</filter-name>
    <filter-class>com.smart.web.filter.StaticResourceFilter</filter-class>
  </filter>
  <filter>
    <filter-name>authFilter</filter-name>
    <filter-class>com.smart.web.filter.AuthFilter</filter-class>
  </filter>
    <!-- <filter>
       <filter-name>FileUploadFilter</filter-name>
       <filter-class>com.ckfinder.connector.FileUploadFilter</filter-class>
       <init-param>
           <param-name>sessionCookieName</param-name>
           <param-value>JSESSIONID</param-value>
       </init-param>
       <init-param>
           <param-name>sessionParameterName</param-name>
           <param-value>jsessionid</param-value>
       </init-param>
   </filter>
   <filter-mapping>
       <filter-name>FileUploadFilter</filter-name>
       <url-pattern>
           /ckfinder/core/connector/java/connector.java
        </url-pattern>
   </filter-mapping>  -->
   
  <filter-mapping>
    <filter-name>staticResourceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>xssFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>authFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- CKFinder -->
  <servlet>
	<servlet-name>ConnectorServlet</servlet-name>
	<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
	<init-param>
		<description>
			Path to configuration file can be relative path inside application,
			absolute path on local file system or UNC path.
		</description>
		<param-name>XMLConfig</param-name>
		<param-value>/WEB-INF/config.xml</param-value>
	</init-param>
	<init-param>
		<param-name>debug</param-name>
		<param-value>true</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>test</servlet-name>
  	<servlet-class>cktest.test</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>ConnectorServlet</servlet-name>
	<url-pattern>
		/ckfinder/core/connector/java/connector.java
	</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/servlet/test</url-pattern>
  </servlet-mapping>
  
  <!-- Dispatcher -->
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <jsp-config>
  	<taglib>
    	<taglib-uri>/smart</taglib-uri>
    	<taglib-location>/WEB-INF/smart.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>/</welcome-file>
  </welcome-file-list>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/sysError.jsp</location>
  </error-page>
  <error-page>
  	<error-code>501</error-code>
  	<location>/sysError.jsp</location>
  </error-page>
  <error-page>
  	<error-code>502</error-code>
  	<location>/sysError.jsp</location>
  </error-page>
  <error-page>
  	<error-code>503</error-code>
  	<location>/sysError.jsp</location>
  </error-page>
  <error-page>
  	<error-code>504</error-code>
  	<location>/sysError.jsp</location>
  </error-page>
</web-app>